<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 导入数据库配置属性文件 -->
    <properties resource="db.properties"/>
<!--    <settings>-->
<!--        <setting name="logImpl" value="LOG4J"/>-->
<!--    </settings>-->
    <typeAliases>
<!--        <typeAlias type="com.pojo.Customer" alias="Customer"/>-->
        <package name="com.pojo"/>
    </typeAliases>
    <!-- 定义环境配置，可以包含多个环境，这里设定默认环境为"development" -->
    <environments default="development">

        <!-- 定义一个名为"development"的环境 -->
        <environment id="development">

            <!-- 设置事务管理类型为JDBC -->
            <transactionManager type="JDBC"></transactionManager>

            <!-- 配置数据源类型为POOLED(池化数据源) -->
            <dataSource type="POOLED">
                <property name="driver" value="${mysql.driver}"/>
                <property name="url" value="${mysql.url}"/>
                <property name="username" value="${mysql.username}"/>
                <property name="password" value="${mysql.password}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="com/pojo/CustomerMapper.xml"/>
    </mappers>
</configuration>
